.primary-bg {
    -fx-background-color: #292929; 
}

.secondary-bg {
    -fx-background-color: #363636;
}

.ternary-bg {
    -fx-background-color: #2b2b2b;
}

.label {
    -fx-text-fill: white;
}

.button { 
   -fx-background-color: #ff4242; 
   -fx-text-fill: white; 
}

.button:hover {
    -fx-background-color: #ff5c5c; 
}

.toggle-button {
    -fx-background-color: #ff4242;
    -fx-text-fill: white;
}

.toggle-button:hover {
    -fx-background-color: #ff5c5c;
}

.toggle-button:selected {
    -fx-background-color: orange;
    -fx-font-weight: bold;
}

.choice-box {
    -fx-background-color: #3d3d3d; 
    -fx-control-inner-background: #3d3d3d;  
}

.choice-box .content-menu {
    -fx-background-color: #3d3d3d; 
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #2b2b2b;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .cell{
    -fx-cell-size: 35;
    -fx-background-color: #363636;
    -fx-border-color: #2b2b2b;
    -fx-text-fill: lightgray;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-border-width: 0;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-background-color: #ff4242;
    -fx-background-radius: 5;
    -fx-border-color: #ff4242;
}

.table-view:focused .table-row-cell:hover .table-cell {
    -fx-background-color: #292929;
    -fx-background-radius: 5;
    -fx-border-color: #292929;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #292929;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #ff4242;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #ff4242;
}

.table-view .arrow {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: " ";
}

.list-view {
    -fx-border-color: #363636;
}

.list-cell {
    -fx-background-color: #363636;
    -fx-text-fill: white;
}